@import '../variables.scss';

.projects-card {
  height: 100%;
  background-color: #ffffff !important;
}

.projects-button {
  position: absolute !important;
  bottom: 0;
  margin-bottom: 10px !important;
}